<div class="modal-header">
    <button type="button" class="close" title="{{t 'cart.cloMiniCart'}}" data-dismiss="modal"><i class="fa fa-chevron-left hidden-xs" aria-hidden="true"></i><span aria-hidden="true" class="visible-xs-inline">&times;</span></button>
    <h3 class="modal-title text-center" id="myModalLabel">{{t "header.shoppingCart" }}</h3>
</div>
{{#if articles }}
<div class="modal-body" data-total-qty="{{ session.cart.totalQty }}">
    {{#each articles }}
    <div class="row">
        <div class="col-md-4">
            {{#each this.item.imagePath }} {{#if @first}}
            <a><img src="{{ this }}" class="img-responsive"></a> {{/if}} {{/each }}
        </div>
        <div class="col-md-6">
            <h4>{{ this.item.title }}</h4>
            <p>{{ this.qty }}</p>
            <p>
                <s>
                    <i class="fa {{#xif ../ lng '===' 'en' }} fa-usd {{else}} fa-jpy {{/xif}}" aria-hidden="true"></i> {{this.item.price}}
                </s>
                <i class="fa {{#xif ../ lng '===' 'en' }} fa-usd {{else}} fa-jpy {{/xif}}" aria-hidden="true">{{this.item.priceDiscount}}</i>
            </p>
        </div>
        <div class="col-md-2" id="mini-actions">
            <a target="mini-remove" data-herf="/shop/removeItem/{{ this.id }}" class="btn-link item-remove" title="{{../t 'cart.remove' }}"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
            <a target="mini-add" data-herf="/shop/add-to-cart/{{ this.id }}" class="btn-link item-remove" title="{{../t 'cart.add' }}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <a target="mini-reduce" data-herf="/shop/reduce/{{ this.id }}" class="btn-link item-remove" title="{{../t 'cart.reduce' }}"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
        </div>
    </div>
    {{/each}}
    <div class="mini-subtotal" >
        <h3 class="text-primary">{{t "cart.subtotal" }}</h3>
        <p class="text-primary">
            <i class="fa {{#xif lng '===' 'en' }} fa-usd {{ else }} fa-jpy {{/xif}}" aria-hidden="true">{{ totalPrice }}</i>
        </p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btn-view-cart" class="btn btn-lg btn-block cart-detail-btn">{{t "cart.view" }}</button>
</div>
{{else}}
<div class="modal-body" data-total-qty="{{ session.cart.totalQty }}">
    <h3 class="text-center">{{t "cart.empty" }}</h3>
</div>
{{/if}}