<div class="jumbotron" style="margin-top: 0px; margin-bottom: 0px; ">
    <div class="mayrino-main-panel">
        <div class="row ">
            <div class="col-xs-12 col-md-3">
                <a href="#" style="font-size: 25px;text-decoration: none;" role="button">{{t "footer.title"}}</a>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="vertical-line"></div>
                <div class="bottom-bar">
                    <p>{{t "footer.manual"}}</p>
                    <ul class="list-unstyled">
                        <li><a href="#" class="">{{t "footer.shopping"}}&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="">{{t "footer.returns"}}&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="">{{t "footer.contact"}}&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="">{{t "footer.about"}}&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="vertical-line"></div>
                <div class="bottom-bar">
                    <p>{{t "footer.store"}}</p>
                    <ul class="list-unstyled">
                        <address>
                            <li> <strong>{{t "footer.address.title"}}</strong></li>
                            <li>{{t "footer.address.street"}} </li>
                            <li>{{t "footer.address.city"}}</li>
                            <li>
                                <abbr title="{{t 'footer.address.tel'}}">{{t "footer.address.tel"}}</abbr>(0571) 88116275</li>
                        </address>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 ">
                <div class="vertical-line"></div>
                <div class="bottom-bar">
                    <p>{{t "footer.connected"}}</p>
                    <ul class="list-inline">
                        <li><a href="#"><img class="img-circle" style="width: 24px; height: 24px;" alt="bootstrap" src=""/></a></li>
                        <li><a href="#"><img class="img-circle" style="width: 24px; height: 24px;" alt="jquery" src=""/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" style="background-color: #232324; padding:5px; margin-bottom: 0px;">
    <p style="font-size: 10px; color: #ffffff;" class="text-center">
        @Copyright 2015-2016 By <a href="#">杭州原基纺织品有限公司</a>版权所有
    </p>
</div>