<div class="jumbotron" style="margin-top: -30px; margin-bottom: 0px;">
    <div class="text-center">
        <h2>{{t "about.title" }}</h2>
        <p>{{t "about.introduce" }}</p>
    </div>
    <div class="container-fluid panel panel-default text-center" style="margin-bottom: 0px;padding-bottom: 0px;border:0px;border-radius:0px;">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-md-offset-2">
                <address>
                    <br>
                    <strong>{{t "footer.address.title"}}</strong>
                    <br>
                    <br> {{t "footer.address.street"}}
                    <br> {{t "footer.address.city"}}
                    <br>
                    <abbr title="{{t "footer.address.tel"}}">{{t "footer.address.tel"}}</abbr>(0571) 88116275
                    <br>
                    <abbr title="{{t "about.phone"}}">{{t "about.phone"}}</abbr>15715765111 13625863666
                </address>
                <address>
                    <strong>{{t "about.contact"}}</strong>
                    <br>
                    <a href="mailto:reyesxie@foxmail.com">reyesxie@foxmail.com</a>
                </address>
            </div>
            <div class="col-xs-12 col-md-5" style="padding-top:5px;padding-bottom: 5px;">
                <div class="embed-responsive  embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="/mapDemo"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>