<div class="jumbotron" style="margin-top: -30px; margin-bottom: 0px;">
    <div class="container-fluid text-center">
        <h2 class="text-center" style="margin-bottom: 15px;">{{t "browse.title" }}</h2>
        <h4 class="text-center" style="margin-bottom: 25px;">{{t "browse.content" }}</h4>
        <div id="product-body">
            <div id="demo-outer">
                <div id="product-outer">
                    <div id="product-container" data-ride="product-carousel" class="product-carousel slide" data-interval="2500">
                        <img data-slide="prev" class="scrollButtons left" href="#product-container" src="images/arrow-left.png" alt="left" />
                        <img class="scrollButtons right" href="#product-container" data-slide="next" src="images/arrow-right.png" alt="right-" />
                        <!-- <div class="scroll"> -->
                        <ul class="scrollContainer">
                            <li class="product-panel" id="panel_1">
                                <img src="product_images/garments/img6.jpg" alt="" />
                                <p>敏捷毛绒——JS网页特效1
                                    <br />
                                    <a href="http://www.product-container.com/" target="_blank">敏捷毛绒网页特效</a></p>
                            </li>
                            <li class="product-panel" id="panel_2">
                                <img src="product_images/garments/img2.jpg" alt="" />
                                <p>敏捷毛绒——js网页特效2
                                    <br />
                                    <a href="http://www.product-container.com/" target="_blank">敏捷毛绒网页特效</a></p>
                            </li>
                            <li class="product-panel" id="panel_3">
                                <img src="product_images/garments/img3.jpg" alt="" />
                                <p>敏捷毛绒——js网页特效3
                                    <br />
                                    <a href="http://www.product-container.com/" target="_blank">敏捷毛绒网页特效</a></p>
                            </li>
                            <li class="product-panel prev" id="panel_4">
                                <img src="product_images/garments/img4.jpg" alt="" />
                                <p>敏捷毛绒——JS网页特效4
                                    <br />
                                    <a href="http://www.product-container.com/" target="_blank">敏捷毛绒网页特效</a></p>
                            </li>
                            <li class="product-panel  active" id="panel_5">
                                <img src="product_images/garments/img5.jpg" alt="" />
                                <p>敏捷毛绒——JS网页特效5
                                    <br />
                                    <a href="product_images/garments/5-1.jpg" target="_blank" rel="group5">More Views</a>
                                </p>
                            </li>
                            <li class="product-panel next" id="panel_6">
                                <img src="product_images/garments/img1.jpg" alt="" />
                                <p>敏捷毛绒——JS网页特效6
                                    <br />
                                    <a href="http://www.product-container.com/" target="_blank">敏捷毛绒网页特效</a></p>
                            </li>
                            <li class="product-panel" id="panel_7">
                                <img src="product_images/garments/img7.jpg" alt="" />
                                <p>敏捷毛绒——JS网页特效7
                                    <br />
                                    <a href="http://www.product-container.com/" target="_blank">敏捷毛绒网页特效</a></p>
                            </li>
                            <li class="product-panel" id="panel_8">
                                <img src="product_images/garments/img8.jpg" alt="" />
                                <p>敏捷毛绒——JS网页特效8
                                    <br />
                                    <a href="http://www.product-container.com/" target="_blank">敏捷毛绒网页特效</a></p>
                            </li>
                            <li class="product-panel" id="panel_9">
                                <img src="product_images/garments/img9.jpg" alt="" />
                                <p>敏捷毛绒——JS网页特效9
                                    <br />
                                    <a href="http://www.product-container.com/" target="_blank">敏捷毛绒网页特效</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default panel-for-product">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-md-offset-4">
                    <ul>
                        <li><a href="/shop/garment" class="product-link text-center">{{t "browse.apparel" }}</a></li>
                        <li class="divider-vertical-product"></li>
                        <li> <a href="#" class="product-link text-center" style="">{{t "browse.fabric" }}</a></li>
                        <li class="divider-vertical-product"></li>
                        <li> <a href="#" class="product-link text-center">{{t "browse.collar" }}</a></li>
                        <li class="divider-vertical-product"></li>
                        <li> <a href="#" class="product-link text-center">{{t "browse.accessory" }}</a></li>
                    </ul>         
                </div>
            </div>
        </div>
    </div>
</div>