<div class="mayrino-junbotron">
        <div class="mayrino-main-panel" style="margin-top: -20px;">
            <div class="row">
                <!-- Add the extra clearfix for only the required viewport -->
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-12 col-md-6  big-box-nopadding">
                    <a href="#" role="button"><img class="img-responsive" width="490" height="470" src="/images/women3.jpg" alt="..."> </a>
                    <!-- </div> -->
                </div>
                <div class="col-xs-12 col-md-6 big-box-nopadding">

                    <div class="first-back">
                        <h1>
                          <strong>SULTRY & SMART</strong>
                       </h1>
                        <h1>
                          <SMALL>HOT SPRING LOOKS</SMALL>
                       </h1>
                        <span></span>

                        <div><a role="button" href="#">Show Women</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mayrino-junbotron-second">
        <div class="mayrino-main-panel">
            <div class="row">
                <!-- Add the extra clearfix for only the required viewport -->
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-12 col-md-6 big-box-nopadding">
                    <div class="second-back">
                        <h1>
                          <strong> ELEGANT & SLICK</strong>
                       </h1>
                        <h1>
                          <SMALL>GET READY FOR SUMMER</SMALL>
                       </h1>
                        <span></span>
                        <div>
                          <a role="button" href="#">Show Men</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 big-box-nopadding">
                    <a href="#" role="button"><img class="img-responsive" width="490" height="470" src="/images/men2.jpg" alt="..."> </a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center" style="margin-top:60px;">
        {{t "index.new_arrive" }}<small><span class="label label-default">New</span></small>
    </h3>
    <div class="mayrino-junbotron">
        <div class="mayrino-main-panel" style="margin-top: 60px;">
            <div class="row">
                <div class="col-xs-12 col-md-4 gutter5px">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="box-new-arrive">
                                <img role="button" src="/images/men2.jpg" />
                            </div>
                        </div>
                        <div class="panel-footer"><span><h2>Panel footer</h2>
                            <div  role="button" class="prompt-detail"><h2 class="detail">{{t "index.view_detail" }}</h2></div>
                            </span></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 gutter5px">
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            <div class="box-new-arrive">
                                <img role="button" src="/images/women2.jpg" />
                            </div>
                        </div>
                        <div class="panel-footer"><span><h2>Panel footer</h2>
                            <div  role="button" class="prompt-detail"><h2 class="detail">{{t "index.view_detail" }}</h2></div>
                            </span></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 gutter5px">
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            <div class="box-new-arrive">
                                <img role="button" src="/images/men2.jpg">
                            </div>
                        </div>
                        <div class="panel-footer"><h2>Panel footer</h2>
                           <div  role="button" class="prompt-detail"><h2 class="detail">{{t "index.view_detail" }}</h2></div>
                            </span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="mayrino-junbotron">
    <div class="mayrino-main-panel focus-us">
        <h2>{{t "index.subscription" }}</h2>        
        <div class="focus-mail">
                <form  action="/subscribe/?lng={{t 'locale' }}" method="post" id="focus_form" role="form">
                    <div class="input-group">                     
                        <input  type="text" id="email" name="email"  class="form-control" placeholder="{{t 'index.sub_placeholder' }}">

                        <div class="input-group-btn">
                    <button class="btn btn-primary" id="focusBtn" type="submit">{{t "index.btn_sub" }}</button>
                  </div>
                    </div>
                </form>
            
    </div>
    </div>  


    <div class="jumbotron" style="margin-top: 80px; background-color: #232324">
        <div class="mayrino-main-panel" style="padding-left: 0px;padding-right: 0px;">
            
                <div  style="float:left;">
                    <div class="btn-link focus" role="button ">
                        <img class="img-responsive img-rounded " src="/images/glass.jpg " alt=".... " />
                         <h2 class="inner_img_text "><span><span class="space">A Movie in the Park:</span><br /><span class="space">Kung Fu Panda</span></span></h2>
                    </div>
                </div>
                <div style="float: right;">
                    <div class="btn-link focus " role="button ">
                        <img class="img-responsive img-rounded" src="/images/discount1.jpg " alt=".... " />
                        <h2 class="inner_img_text "><span><span class="space">A Movie in the Park:</span><br /><span class="space">Kung Fu Panda</span></span></h2>
                    </div>
                </div>
           
        </div>
    </div>