<div class="mayrino-main-panel">
    <div class="panel panel-default panel-detail">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-3"><span style="font-size: 28px;">{{t "header.shoppingCart" }}(<span class="item-count" style="">{{ session.cart.totalQty }}</span>)</span>
            </div>
            <div class="col-md-9">
                <button type="button" class="btn btn-lg pull-right cart-detail-btn" style="min-width: 283px;" {{#unless articles }} disabled="disabled" {{/unless}}>{{t "cart.checkout"}}</button>
            </div>
        </div>
       {{#if articles }}
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <span><h4><strong>产&nbsp;品</strong></h4></span>
            </div>
            <div class="col-md-4 col-xs-3">
                <span><h4><strong>商品</strong></h4></span>
            </div>
            <div class="col-md-3 col-xs-3">
                <span class="text-center"><h4><strong>数量</strong></h4></span>
            </div>
            <div class="col-md-3 col-xs-3">
                <span class="text-right"><h4><strong>金额</strong></h4></span>
            </div>
        </div>
        {{#each articles }}
        <div class="row cart-view-row">
            <div class="col-md-2 col-xs-3">
                {{#each this.item.imagePath }}
                {{#if @first }}
                <a><img src="{{this}}" class="img-responsive"></a>
                {{/if }}
                {{/each}}
            </div>
            <div class="col-md-4 col-xs-3">
                <ul class="list-unstyled">
                    <li><span>{{this.item.title}}</span></li>
                    <li><span><small>编号：0018</small></span></li>
                    <li><span><small>尺寸：M</small></span></li>
                    <li><span><small>颜色：黑色</small></span></li>
                    <li><span><small>价格：</span><span><s>$19.99</s></span><span>&nbsp;&nbsp;$14.99</span></small>
                    </li>
                </ul>
                <div><a class="btn-link item-remove"><small>移除</small></a></div>
            </div>
            <div class="col-md-3 col-xs-3 text-center">
                <span aria-hidden="true" class="glyphicon glyphicon-minus" role="icon"></span>
                <input type="text" value="10"  class="text-center" size="1" name="">
                <input type="hidden" value="$19.99">
                <span aria-hidden="true" class="glyphicon glyphicon-plus" role="icon"></span>
            </div>
            <div class="col-md-3 col-xs-3 text-right">
                <span class="subtotal">$199.90</span>
            </div>
        </div>
        {{/each}}
        <div class="row cart-view-row">
            <div class="col-md-6 col-xs-12">
                <button id="nodeLink" class="btn btn-link node-link"><span class="glyphicon glyphicon-edit"></span>&nbsp;add note to seller</button>
                <div id="nodeShowPanel" ><p><strong>Node to seller:</strong><span id="nodeShow"></span></p>
                  <button id="nodeEditBtn" class="btn btn-link node-link"><span class="glyphicon glyphicon-edit"></span>&nbsp;edit node</button>
                   <button id="nodeTrashBtn" class="btn btn-link node-link"><span class="glyphicon glyphicon-trash"></span>&nbsp;delete node</button>
                </div>
                <div  class="form-group" id="node">
                <textarea  class="form-control" rows=3"   id="nodeEdit" name="node-edit" placeholder="instruction?Special requests?Add them here."></textarea>
                 <button  id="doneNodeBtn" class="btn pull-right done-link cart-detail-btn ">DONE</button>
                   <button id="cancleNodeBtn" class="btn btn-link pull-right cancel-link">CANCEL</button>
                  
                </div>
            </div>
       
            <div class="col-md-6 col-xs-12 text-right">
                <h4>总金额：<span id="amount">$219.89</span></h4>
                <p>Discounts, shipping and tax will be calculated in checkout.
                </p>
            </div>
        </div>
          {{else}}
              <h3 class="text-center">{{t "cart.empty" }}</h3>
            {{/if}}
       
        <div class="row cart-view-row">
            <div class="col-md-6">
                <img class="img-responsive" width="180" src="/images/security-seal-2x.png"></div>
            <div class="col-md-6">
                <button type="button" class="btn btn-lg pull-right cart-detail-btn" style="min-width: 283px;max-width: 530px;"" {{#unless articles }} disabled="disabled" {{/unless}}>{{t "cart.checkout"}}</button>
            </div>
        </div>
    </div>
</div>
