<div class="jumbotron" style="margin-top: -30px; margin-bottom: 0px;">
    <div class="container text-center">
        <h2>{{t "garment.title" }}</h2>
    </div>
    <div class="container-fluid panel panel-default">
        <div class="mayrino-main-panel">
            {{>paginate}} 
            {{# each products}}
            <div class="row">
                {{# each this}}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail img-box">
                        {{#each this.imagePath }} {{#if @first}}
                        <img role="button" src="{{ this }}" /> {{/if}} {{/each}}
                        <a href="/shop/detail/{{ this._id }}" class="hidden" role="button"></a>                  
                        <div class="img-box-detail clearfix ">
                            <p class="btn btn-link btn-info pull-left">{{../../t  "index.view_detail" }}</p>
                            <a class="btn btn-link btn-info pull-left ">{{ this.title 
                            }}</a>
                            <p class="btn btn-link pull-right btn-primary" > <i class="fa {{#xif lng '===' 'en' }} fa-usd {{ else }} fa-jpy {{/xif}}" aria-hidden="true">{{ this.priceDiscount }}</i></p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}} {{>paginate}}
        </div>
    </div>
</div>